body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.user {
  background-color: goldenrod;
}

.tunings {
  background-color: lightsalmon;
}

.search {
  background-color: pink;
}

.seeds {
  background-color: lightskyblue;
}

.player {
  background-color: lightseagreen;
}

.search-results__heading {
  font-size: 20px;
  font-weight: bold;
}

.track-results__track-name {
  font-weight: bold;
}

.track-results__track-artist {
  font-style: italic;
}

.artist-results__artist-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.artist-results__artist-image {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-right: 10px;
}

.playlist-results__playlist-image {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}